{{> header }}

<body>
    <div class="containerHome"> {{> navbar }}
        <div class="title">
            <h4>{{title}}</h4>
            <h6>Send Award</h6> </div>
        <!--LOGIN-->
        <div id="sendAward">
            <embed id="pdf" src="{{awardPath}}" type="application/pdf" name="{{awardPath}}" />
            <form method="post" action="/sendAward">
                <!--Button-->
                <input type="text" name="email" value="{{email}}" style="visibility: hidden;">
                <input type="text" name="path" value="{{awardPath}}" style="visibility: hidden;">
                <button type="submit" class="btn btn-primary">Email Award</button>
            </form>
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var checkExist = setInterval(function () {
        if ($('#pdf').length) {
            console.log("Exists!");
            window.addEventListener('load', function () {
                console.log('All assets are loaded')
            })
            clearInterval(checkExist);
        }
    }, 100); // check every 100ms
</script>
</script>

</html>
